@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500|Open+Sans|Playfair+Display');

.fullp {
    height: 90vh;
    width: 90vw;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-bottom: 5vh;
    background-image: url(https://images.unsplash.com/photo-1486639107311-064febaff1c5?ixlib=rb-0.3.5&s=f669fca4f87a6d8826d21c895cc565ce&auto=format&fit=crop&w=3304&q=80);
    background-repeat: no-repeat;
    color: #212121;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #212121;
    background-color: #fafafa;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;

}

h1.ticket {
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    color: #212121;
    text-align: center;
    font-weight: 600;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    padding-left: 5vw;
    padding-right: 5vw;
}

h2.adjust{
     padding-top: 10vh;
}

p.dates {
    border: 1px solid grey;
    padding: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

p.ticket {
    margin-bottom: 0px;
    font-size: 18px;
}

p.desc {
    color: grey;
    font-size: 14px;
}

p.cal {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: #1e88e5;
    margin: 0px;
}

td {
    width: 50%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display:block;
    margin:auto;
}

svg{
    fill: #424242;
    margin: 10px;
}

svg.icons{
    width: 20px;
    height: 20px;
}

.star {
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 1.5s;
    visibility: visible !important;
}

a.nave {
    color: black;
    font-family: 'Cormorant Garamond', serif;
    padding: 10px;
    font-size: 16px;
}

.checkout {
    padding-top: 30px;
    align-content: center;
}

.bwidth{width: 100%;}
h1.location{text-align: center;}

@media (min-width: 768px){
    img{width: 80%;}
    .sponsors{padding: 10vh;}
    .checkout {padding-top:0px;}
    .bwidth{width: 200px;}
    h1.location{text-align: left;}
    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 80px;
    }
    h2 {
        font-family: 'Cormorant Garamond', serif;
        font-size: 25px;
    }
    h2.adjust{
         padding-top: 20vh;
    }
    svg.icons{
        width: 30px;
        height: 30px;
    }
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}
